.root {
    flex-grow: 1,
}

.appbarContainer {
    position: 'absolute';
    top: 0px;
    width: '100%';
    z-index: 1;
}

.cardsContainer {
    margin: 0px !important;
    overflow: auto;
    height: 84vh;
}

.paginationContiner {
    width: 100%;
    position: absolute;
    bottom: 0px;
    box-shadow: 00px -1px 10px 2px #0000002b;
    z-index: 1;
}